<!DOCTYPE html>
<html lang = en>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/main.css">   
</head>
<body>
    <h1>This is home page</h1>

    <a href="http://localhost:3000/login" class="btn btn-success">Login</a>
    <a href="http://localhost:3000/register" class="btn btn-success">Register</a>
    <a href="http://localhost:3000/logout" class="btn btn-success">Logout</a>

    
</body>
</html>