<!DOCTYPE html>
<html lang = en>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1>This is home page</h1>

    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
</body>
</html>