<!DOCTYPE html>
<html lang = en>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/main.css">   
</head>
<body>


<div class="col-md-8 mx-auto align-self-center">
    <div class="d-flex flex-column justify-content-center">

    <img src="/assets/Palletlogo.png" class = "mx-auto" alt="PALLET" width="500">
    <h1 class="mx-auto text-body">PALLET</h1>

        <div class="btn-group-vertical mx-auto">
        <a href="http://localhost:3000/login" class="btn btn-success">Login</a>
        <a href="http://localhost:3000/register" class="btn btn-success">Register</a>
        </div>
    </div>
</div>
  
</body>
</html>