<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
	<link rel="stylesheet" href="css/login.css">
	<style>
		#mylink{
			font-size: 25px;
		}
	</style>
</head>
<body align = 'center'>
	<div class = "text-center center-div" id="login">
	<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <h3>PALLET</h3>
      <img src="/assets/Palletlogo.png" id="icon" alt="PALLET" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="email or username" class="fadeIn second" name="email or username" placeholder="email or username" required>
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" required>
      <!-- <input type="submit" class="fadeIn fourth" value="Log In"> -->
      <a href="http://localhost:3000/collections" class="btn btn-primary fadeIn fourth">Log In</a>
    </form>

    <!-- Remind Passowrd And Register-->
    <div id="formFooter">
      <a class="underlineHover" href="http://localhost:3000/register">Register</a>
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
	</div>
    </form>

</body>
</html>