<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>

    <a href="http://localhost:3000/login" class="btn btn-success">Home</a>
    
  </body>
</html>