<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
	<link rel="stylesheet" href="css/login.css">
	<style>
		#mylink{
			font-size: 25px;
		}
	</style>
</head>
<body align = 'center'>
	<div class = "text-center center-div" id="login">
	<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Register </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <h3>PALLET</h3>
      <img src="/assets/Palletlogo.png" id="icon" alt="PALLET" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="email" required>
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="username" required>
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" required>
      <button type="submit" class="fadeIn fourth" value="Register">
      <a href="http://localhost:3000/login">login</a> 
    </form>

        <!-- Log In-->
        <div id="formFooter">
          <a class="underlineHover" href="http://localhost:3000/login">Sign in</a>
        </div>

  </div>
</div>
	</div>
    </form>

</body>
</html>